QAAutomation.json
{
  "name": "QAAutomation",
  "nodes": [
    {
      "parameters": {
        "formTitle": "QA Submission",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Name"
            },
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "Question"
            },
            {
              "fieldLabel": "Answer",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        0,
        0
      ],
      "id": "3241180b-3aef-4845-ba20-d7cbb91770c2",
      "name": "On form submission",
      "webhookId": "653a19f9-6efb-4c98-ba15-5224a199922e"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "e7b0079d-577f-49ee-89dc-1acc29a14c96",
              "leftValue": "={{ $json.Email }}",
              "rightValue": "n8n.io",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "dc1d34e0-b3af-4978-94c4-2f5a2923b138",
      "name": "is n8n.io email?"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4271a755-7fdc-40ad-8798-77cfc8ecaa74",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        -80
      ],
      "id": "298fa649-cbe4-4c8b-a04f-27722189ebc7",
      "name": "isTrusted:true"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4271a755-7fdc-40ad-8798-77cfc8ecaa74",
              "name": "isTrusted",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        80
      ],
      "id": "2d3b1635-6368-4edd-9e6f-87ab619a18e1",
      "name": "isTrusted:false"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        768,
        0
      ],
      "id": "a85c2db9-0dcc-4a28-9381-f2ebd2ae9a95",
      "name": "ref"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Analyze the following question and answer and output relevant tags\n\nQuestion: {{ $json.Question }}\nAnswer: {{ $json.Answer }}",
        "messages": {
          "messageValues": [
            {
              "message": "You are an expert content taxonomy and tagging specialist. Your primary responsibility is to analyze user-submitted Question and Answer (Q&A) pairs and generate highly relevant, descriptive, and accurate metadata tags.\n\nTask Instructions\nRead the provided Q&A submission carefully. Identify the core topics, underlying themes, key concepts, and any specific technical terminology used. Translate these elements into concise tags that will help categorize and index the content effectively for search and retrieval systems.\n\nTagging Guidelines\n\nQuantity Limit: You must generate strictly between 4 to 8 tags per submission.\n\nLength Limit: Keep tags short, punchy, and highly focused. Limit tags to 1–3 words maximum (e.g., use \"lead referral\" instead of \"how to get lead referrals\").\n\nConceptual Mix: Provide a balance of broad categorical tags (the general industry or topic) and highly specific conceptual tags (niche technical terms used in the text).\n\nCasing: Output all tags in lowercase, unless the tag is a universally recognized acronym (e.g., API, SaaS).\n\nOutput Formatting Constraints\n\nProvide the output strictly as a single line of comma-separated values.\n\nDO NOT include any introductory text (e.g., \"Here are the tags:\").\n\nDO NOT include bullet points, numbering, or concluding remarks.\n\nOutput only the tags themselves.\n\nExample Scenario\nInput: Question: How can we scale our B2B pipeline without increasing our internal sales headcount?\nAnswer: The most effective way is to build a robust partner ecosystem. By leveraging marketing agencies and setting up a structured lead referral program, you can incentivize external contractors to bring qualified prospects to you.\nOutput:\nb2b sales, partnerships, agency, external contractors, lead referral, pipeline scaling"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        992,
        0
      ],
      "id": "b71d5109-140a-4850-b573-375b9d000fc4",
      "name": "Add tags"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "v7aiOtOQMEjASmgy",
          "mode": "list",
          "cachedResultName": "q&a",
          "cachedResultUrl": "/projects/Z9Ukva6lFudziKKH/datatables/v7aiOtOQMEjASmgy"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "isTrusted": "={{ $('ref').item.json.isTrusted }}",
            "Tags": "={{ $json.text }}",
            "Name": "={{ $('ref').item.json.Name }}",
            "email": "={{ $('ref').item.json.Email }}",
            "Question": "={{ $('ref').item.json.Question }}",
            "Answer": "={{ $('ref').item.json.Answer }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Answer",
              "displayName": "Answer",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tags",
              "displayName": "Tags",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "isTrusted",
              "displayName": "isTrusted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Question",
              "displayName": "Question",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        1344,
        0
      ],
      "id": "a3e5094c-1d32-4689-9933-90b4e0fed457",
      "name": "Insert row"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1024,
        224
      ],
      "id": "84cff047-67ac-4316-a763-db52a7373d47",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "3Cqa28XJQFMy3F8G",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "is n8n.io email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "is n8n.io email?": {
      "main": [
        [
          {
            "node": "isTrusted:true",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "isTrusted:false",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:true": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "isTrusted:false": {
      "main": [
        [
          {
            "node": "ref",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ref": {
      "main": [
        [
          {
            "node": "Add tags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add tags": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Add tags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bd1c104d-cfd1-4549-acf5-74c16c7b60d9",
  "meta": {
    "templateId": "13354",
    "templateCredsSetupCompleted": true,
    "instanceId": "13ff57936eb0c8100f7225c4fb2d12f304698b2635f914ff0ca98f03c06c07b9"
  },
  "id": "WCJO8ANXKAfpHQJP",
  "tags": []
}